:root {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

html {
    background-color: rgb(235, 231, 231);
}

/* overall page grid */
#grid {
    display: grid;
    grid-template-rows: 175px 1fr 150px;
}

/* board grid */
#board {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: repeat(3, 175px);
    grid-template-rows: repeat(3, 175px);
    justify-content: center;
    margin: 20px auto;
    width: min-content;
    height: min-content;
    outline: 3px solid rgb(235, 231, 231);
}

.square {
    font-size: 7rem;
    outline: 3px solid black;
    display: table;
}

.square > div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.s {
    color: rgb(100, 100, 73);
}

/* Nav / scores content */
#nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-bar > .content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    min-width: 450px;
    max-width: 1000px;
}

.scores-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.name {
    font-size: 1.6rem;
    font-weight: 600;
    color: black;
    border-bottom: 1px solid black;
}

.name.p1name, .name.p2name {
    width: 150px;
    text-align: center;
}

.score {
    font-size: 1.8rem;
    color: black;
}

/* Nav svgs */
.p1Arrow {
    height: 40px;
    transform: rotate(270deg);
}

.p2Arrow {
    height: 40px;
    transform: rotate(90deg);
}

/* buttons secton */
#buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 40px;
}

#buttons > .content-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
    min-width: 450px;
    max-width: 1000px;
    
}

#restart-button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.restart {
    height: 80px;
    width: 80px;
    border-radius: 50%;
}

.restart img {
    height: 50px;
    margin-top: 5px;
}

#restart-button {
    font-size: 1.2rem;
}

/* Classes to add from js */
.arrowGrayedOut {
    opacity: 0.1;
}

/* modal content */
.modal {
    display: none;
    position: fixed;
    z-index: 5;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    border: 2px solid black;
    border-radius: 6px;
}

.modal.modal-open {
    display: block;
}

/* gameOverModal */
#gameOverModal {
    font-size: 4rem;
    height: 160px;
    min-width: 400px;
    padding: 20px 40px;
    background-color: rgba(255, 255, 255, 0.95);
    text-align: center;
}

.go-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.go-buttons button {
    font-size: 1.2rem;
    width: 110px;
    height: 60px;
    padding: 5px 10px;
    border-radius: 8px;
    border: 2px solid rgb(100, 100, 73);
}

.go-buttons button:hover, #playButton:hover {
    background-color: rgba(100, 100, 73, 0.651);
}

/* start game modal */
#startModal {
    font-size: 1.2rem;
    padding: 20px 40px;
    background-color: rgba(255, 255, 255, 0.95);
    height: min-content;
}

#startModal .modal-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

#startModal input {
    font-size: 1.2rem;
    height: 35px;  
}

.computer, .humanOpponent {
    display: flex;
    align-items: center;
    gap: 15px;
}

.computer {
    margin-top: 10px;
}

#playButton {
    align-self: center;
    font-size: 1.2rem;
    width: 200px;
    height: 40px;
    padding: 5px 10px;
    border-radius: 8px;
    border: 2px solid rgb(100, 100, 73);
}